<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <div class="page-form">

        <div class="chose-page">
            <button><a href="">Cadastrar Produtos</a></button>
            <button><a href="">Gerar Etiqueta</a></button>
            <button><a href="">Saída de Produtos</a></button>
            <button><a href="">Consultar</a></button>

        </div>

        <button type="reset" id="left">Sair</button>

    </div>
    <div class="img">
        <img src="fotos/logo.png" alt="Logo">
    </div>
</body>

</html>