<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="Home-Page.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="left">
        <div class="button">
            <button><a href="">Cadastrar Produtos</a></button>
            <button><a href="">Gerar Etiqueta</a></button>
            <button><a href="">Saída de Produtos</a></button>
            <button><a href="">Consultar</a></button>
        </div>
        <button id="sair"><i class='bx bx-left-arrow-alt'></i></button>
    </div>
    <div class="right">
        <img src="fotos/logo.png">
    </div>
</body>

</html>