<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos</title>
</head>
<body>
    <div class="register-form">
        <img src="fotos/logo.png" alt="Logo">
        <div class="produtos-card">
            <h1>Cadastro de Produtos/h1>
            <h2>cadastro de produtos abaixo!</h2>
        </div>
            <p>PRODUTO:</p>
            <input placeholder="Nome do Produto" id="nome">
            <P>QUANTIDADE:</P>
            <input placeholder="Digite quantidade de Produtos" id="quantidade">
            <P>PREÇO:</P>
            <input placeholder="Digite preço do Produto" id="preco">
            <P>CODIGO:</P>
            <input placeholder="Digite o codigo do Produto" id="codigo">
            <P>MARCA:</P>
            <input placeholder="Digite a marca do Produto" id="marca">
            <P>CATEGORIA:</P>
            <input placeholder="Digite a categoria do Produto" id="categoria">
            <P>PESO:</P>
            <input placeholder="Digite o peso do Produto" id="peso">

        <button onclick="">Cadastrar Produto</button>

    </div>
    
</body>
</html>