<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos</title>
    <link rel="stylesheet" href="register.css">
</head>

<body>
    <div class="left">
        <div class="produtos-card">
            <h1>Cadastro de Produtos</h1>
            <h2>cadastro de produtos abaixo!</h2>
        </div>

        <div class="register-form">

            <div class="produto button">
                <p>PRODUTO:</p>
                <input placeholder="Nome do Produto" id="nome">
            </div>

            <div class="quantidade button">
                <P>QUANTIDADE:</P>
                <input placeholder="Digite quantidade de Produtos" id="quantidade">
            </div>

            <div class="preco button">
                <P>PREÇO:</P>
                <input placeholder="Digite preço do Produto" id="preco">
            </div>

            <div class="codigo button">
                <P>CODIGO:</P>
                <input placeholder="Digite o codigo do Produto" id="codigo">
            </div>

            <div class="marca button">
                <P>MARCA:</P>
                <input placeholder="Digite a marca do Produto" id="marca">
            </div>

            <div class="categoria button">
                <P>CATEGORIA:</P>
                <input placeholder="Digite a categoria do Produto" id="categoria">
            </div>

            <div class="peso button">
                <P>PESO:</P>
                <input placeholder="Digite o peso do Produto" id="peso">
            </div>

            <button onclick="" id="cadastro-produto">Cadastrar Produto</button>
        </div>

    </div>
    <div class="logo">
        <img src="fotos/logo.png" alt="Logo">
    </div>

</body>

</html>